<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
        }

        [v-cloak] {
            display: none;
        }

        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 150px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }

        .active {
            color: green;
            border-bottom: 2px solid green;
        }
    </style>
</head>

<body>
    <div id="box" v-cloak>
        <div style="width:100%;height:80px;overflow: hidden;position: absolute;top: 0;z-index: 999;">
            <div>
                <div style="width: 45%;float:left;">
                    <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvZjc0MTI0MDFiMDZjZjdjYmI4OTg5MTBjMTE2YzZlNzYucG5n.png"
                        alt="" style="width: 80px;height: 50px;margin: 15px 0 0 40px;">
                </div>
                <div style="width: 55%;float:left;text-align: right;font-size: 16px;">
                    <div style="padding: 30px 23px;float: left;" v-for="i in nav_arr">
                        <a :href="i.path">{{i.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <router-view></router-view>
        </div>
        <!-- 底部 -->
        <div style="width:100%;min-height: 270px;">

            <div style="height: 150px;background: #f3f3f3;overflow: hidden;padding-top: 80px;">
                <div style="width:15%;float: left;">
                    <h3
                        style="font-family:微软雅黑;font-size:26px;font-weight:normal;font-style:normal;color:#666666;padding:0 0 5px 0;display:block;padding:0 0 5px 0;vertical-align:bottom;text-align: center;">
                        联系</h3>
                    <p
                        style="font-family:verdana;font-size:13px;font-weight:normal;font-style:normal;color:#969696;display:block;vertical-align:bottom;text-align: center;">
                        Contact</p>
                </div>
                <div style="width: 30%;float: left;position: relative;">
                    <p style="color: rgb(93, 93, 93);font-size: 16px;text-align: center;font-weight: bold;">关注我们
                    </p>
                </div>
                <div style="width: 35%;float: left;line-height: 20px;">
                    <h3 style="color: rgb(93, 93, 93);font-size: 16px;">起飞页自助建站平台</h3>
                    <p style="font-size: 14px;">地址：苏州市建外SOHO东区2号楼</p>
                    <p style="font-size: 14px;">邮编：100000</p>
                    <p style="font-size: 14px;">电话：010-69557550</p>
                </div>
                <div style="width: 20%;float: left;">
                    <div style="width: 100%;">
                        <div style="width: 50%;float: left;">
                            <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDgvNjFjNTQ1NWFmY2MyNGViMmZjY2VkOTk3YmMwMWE2MGMtMTAweDEwMC5wbmc_p_p100_p_3D.png"
                                alt="" style="width: 100px;height: 100px;margin-left: 10px;">
                            <p style="text-align: center;">微信</p>
                        </div>
                        <div style="width: 50%;float: left;">
                            <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDgvNjFjNTQ1NWFmY2MyNGViMmZjY2VkOTk3YmMwMWE2MGMtMTAweDEwMC5wbmc_p_p100_p_3D.png"
                                alt="" style="width: 100px;height: 100px;margin-left: 10px;">
                            <p style="text-align: center;">微博</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 40px;background: #fff;">
                <p style="font-size: 12px;line-height: 40px;padding-left: 30px;">COPYRIGHT (©) 2019 茶叶类网站
                    京ICP备41414141414-1号</p>
            </div>
        </div>
        <!-- <div style="height: 150px;background: #ccc;">

        </div> -->
    </div>
    <template id="no1">
        <div>
            <loop></loop>
            <div
                style="background-image: url('https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvYTMxNGNjMzEzM2JhMGRkOTE2NTA0NmYwYTZjMDlmZjcuanBn.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position:center center;">
                <!-- 新茶上市 -->
                <div style="background: #f7f7f7;min-height: 1070px;text-align: center;">
                    <div style="text-align: center;">
                        <div style="padding-top: 50px;">
                            <h3
                                style="font-family:微软雅黑;font-size:24px;font-weight:normal;font-style:normal;color:#232323;padding:0 0 5px 0;">
                                新茶上市</h3>
                            <p style="font-size:13px;font-weight:normal;font-style:normal;color:#999999;display:block;">
                                Tea
                                Leave</p>
                        </div>
                    </div>
                    <div>
                        <new></new>
                    </div>
                    <div
                        style="width: 85px;height: 45px;background: #90af6b;display:inline-block;text-align: center;line-height: 45px;">
                        <p style="color: #fff;font-size: 20px;text-align: center;font-weight: bold;">—></p>
                    </div>
                </div>
                <!-- 关于我们 -->
                <div
                    style="height: 570px;text-align: center;background-image: url('https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvYTMxNGNjMzEzM2JhMGRkOTE2NTA0NmYwYTZjMDlmZjcuanBn.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position:center center;">
                    <div style="padding-top: 120px;">
                        <h3
                            style="font-family:微软雅黑;font-size:26px;font-weight:normal;font-style:normal;color:#ffffff;padding:0 0 5px 0;display:block;padding:0 0 5px 0;">
                            关于我们</h3>
                        <p style="font-size:13px;font-weight:normal;font-style:normal;color:#ffffff;display:block;">
                            About</p>
                    </div>
                    <div style="width: 100%;margin-top: 40px;">
                        <div style="width: 95%;height: 270px;background: #fff;margin: 0 auto;">
                            <div style="width: 100%;">
                                <div style="width: 39%;float: left;padding-top: 1%;padding-left: 1%;">
                                    <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOGJiMjZlNDUwZjY0NjBkNWNiMmE4NTg4YjBhYTY5ZmMtNTQweDI4MC5qcGc_p_p100_p_3D.jpg"
                                        alt="" style="width: 100%;height: 100%;">
                                </div>
                                <div
                                    style="width: 56%;float: left;padding-top: 60px;padding-left: 4%;text-align: left;">
                                    <p style="font-size: 14px;line-height: 28px;">
                                        茶叶源于中国，茶叶最早是被作为祭品使用的。但从春秋后期就被人们作为菜食，在西汉中期发展为药用，西汉后期才发展为宫廷高级饮料，普及民间作为普通饮料那是西晋以后的事。发现最早人工种植茶叶的遗迹在浙江余姚的田螺山遗址，已有6000多年的历史。饮茶始于中国。
                                    </p>
                                    <div
                                        style="width: 110px;height: 40px;background: #90af6b;display:inline-block;text-align: center;line-height: 40px;margin-top: 30px;">
                                        <p style="color: #fff;font-size: 14px;text-align: center;font-weight: bold;">
                                            了解更多</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 170px;background: #fff;">
                    <logo></logo>
                </div>
            </div>
        </div>
    </template>
    <template id="no2">
        <div>
            <!-- banner图片 -->
            <div style="height: 170px;margin-top: 80px;">
                <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNDlhZTM4YTg2N2VmNzVhNDA3M2RmNzRiYTFmOThjMjYuanBn.jpg"
                    alt="" style="width: 100%;height: 170px;">
            </div>
            <!-- 春茶 -->
            <div style="height: 161px;text-align: center;padding-top: 85px;">
                <div style="width: 95%;height: 161px;margin: 0 auto;border-bottom: 1px solid #ccc;">
                    <div>
                        <h3
                            style="font-family:微软雅黑;font-size:24px;font-weight:normal;font-style:normal;color:#232323;padding:0 0 5px 0;display:block;padding:0 0 5px 0;">
                            春茶</h3>
                        <p
                            style="width:52%;margin:0 auto;text-align: center;font-size: 14px;color: #808080;line-height: 20px;margin-top: 30px;">
                            饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。</p>
                    </div>
                </div>
            </div>
            <!-- 定时数字 -->
            <div style="height: 250px;">
                <div style="width: 95%;height: 200px;margin: 0 auto;border-bottom: 1px solid #ccc;padding-top: 50px;">
                    <count></count>
                </div>
            </div>
            <!-- 好处 -->
            <div>
                <div style="width: 95%;margin: 0 auto;text-align: center;padding-top: 70px;">
                    <h3
                        style="font-family:微软雅黑;font-size:24px;font-weight:normal;font-style:normal;color:#232323;padding:0 0 5px 0;display:block;padding:0 0 5px 0;">
                        喝茶的好处</h3>
                    <p
                        style="width:52%;margin:0 auto;text-align: center;font-size: 14px;color: #808080;line-height: 20px;margin-top: 30px;">

                        饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。
                        但并不是喝得越多越好，也不是所有的人都适合喝茶。一般来说，每天1-2次，每次3-5克、400毫升的饮量是比较适当的。一般，人们说喝茶还指喝水。</p>
                </div>
                <div style="height: 470px;margin-top: 70px;">
                    <tea></tea>
                </div>
            </div>
        </div>
    </template>
    <template id="no3">
        <div>
            <div style="margin-top: 80px;">
                <no3_1></no3_1>
            </div>
        </div>
    </template>
    <template id="no4">
        <div>
            <div style="height: 170px;margin-top: 80px;">
                <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNzNlYjg4NTNhNmZkNTZiYWRhN2Q4ZjI4NjNkOWM1ODguanBn.jpg"
                    alt="" style="width: 100%;height: 170px;">
            </div>
            <div style="text-align: center;padding-top: 85px;">
                <div style="width: 95%;margin: 0 auto;">
                    <div style="height: 141px;">
                        <h3
                            style="font-family:微软雅黑;font-size:24px;font-weight:normal;font-style:normal;color:#232323;padding:0 0 5px 0;display:block;padding:0 0 5px 0;">
                            种植基地</h3>
                        <p
                            style="width:97%;margin:0 auto;text-align: center;font-size: 14px;color: #808080;line-height: 20px;margin-top: 30px;">
                            公司拥有完整、科学、质量管理体系，通过ISO14001，ISO22000国际质量体系认
                            证，有机产品认证，拥有大量先进、专业的生产设备和检测仪器，秉承“顾客至上，锐意进取”的经营理念，坚持“客户第一”的原则为广大客户提供优质的服务。</p>
                    </div>
                    <div style="height: 640px;">
                        <no4_1></no4_1>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template id="no5">
        <div>
            <div style="height: 170px;margin-top: 80px;">
                <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOTIwYWRjMGM1M2U4OGQ2MTY0OWE0MzYwMmY5MWQ0NzQuanBn.jpg"
                    alt="" style="width: 100%;height: 170px;">
            </div>
            <div style="width: 100%;overflow: hidden;margin-top: 80px;">
                <div style="overflow: hidden;width: 93%;margin: 0 auto;">
                    <div
                        style="width: 15%;float: left;border-top: 1px solid #90af6b;margin-right: 3%;margin-bottom: 3%;">
                        <div style="line-height:50px;margin-top: 20px;border-bottom: #d1d1d1 1px solid;">
                            <a href="#/no5">&nbsp全部新闻</a>
                        </div>
                        <div style="line-height:45px;border-bottom: #d1d1d1 1px solid;">
                            <a href="#/no5/no2">&nbsp新茶动态</a>
                        </div>
                        <div style="line-height:45px;">
                            <a href="#/no5/no3">&nbsp产品新闻</a>
                        </div>
                    </div>
                    <div style="width: 80%;float: left;min-height: 200px;margin-bottom: 150px;">
                        <router-view></router-view>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template id="no6">
        <div>
            <div style="height: 170px;margin-top: 80px;">
                <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNTYzNGI5ZDFlYmFkNzBkY2FlZmM1NDM0MWE0YzNkYWEuanBn.jpg"
                    alt="" style="width: 100%;height: 170px;">
            </div>
            <div style="height: 81px;">
                <p
                    style="width:55%;margin:0 auto;text-align: center;font-size: 14px;color: #808080;line-height: 25px;margin-top: 30px;">
                    中国历史上有很长的饮茶纪录，已经无法确切地查明到底是在什么年代了，但是大致的时代是有说法的。并且也可以找到证据显示，确实在世界上的很多地方饮茶的习惯是从中国传过去的。</p>
            </div>
            <div>
                <no6_1></no6_1>
            </div>
            <div>
                <no6_2></no6_2>
            </div>
        </div>
    </template>
    <template id="one">
        <div>
            <one_1></one_1>
        </div>
    </template>
    <template id="two">
        <div>
            <two_1></two_1>
        </div>
    </template>
    <template id="three">
        <div>
            <three_1></three_1>
        </div>
    </template>
    <!-- 轮播图 -->
    <template id="loop">
        <div>
            <div class="block" style="position: relative;">
                <el-carousel trigger="click" height="630px">
                    <el-carousel-item v-for="item in arr" :key="item">
                        <img :src="item" alt="" style="width: 100%;height: 100%;">
                    </el-carousel-item>
                </el-carousel>
            </div>
        </div>
    </template>
    <!-- 新品上市数据 -->
    <template id="new">
        <div style="width: 100%;min-height:890px;background: #f7f7f7;">
            <div style="width:33%;float: left;text-align: center;margin-top: 40px;" v-for="i in new_arr">
                <div>
                    <img :src="i.url" alt="" style="width: 305px;height: 305px;">
                </div>
                <div style="color:#555555;font-size:16px;line-height:32px;">
                    {{i.name}}
                </div>
                <div style="color: #555555;font-size: 16px;font-family: sans-serif;line-height:32px;">
                    {{i.price}}
                </div>
            </div>
        </div>
    </template>
    <!-- 底部图片数据 -->
    <template id="logo">
        <div>
            <div style="width: 100%;">
                <div style="width: 16%;float: left;padding-top: 50px;" v-for="i in logo_arr">
                    <div>
                        <img :src="i" alt="" style="width: 200px;height: 80px;">
                    </div>
                </div>
            </div>
        </div>
    </template>
    <!-- no2数字 -->
    <template id="count">
        <div>
            <div v-for="i in count_arr" style="width: 25%;float: left;text-align: center;">
                <div style="font-size: 60px;font-family: courier new;color: #3c3c3c;">
                    {{i.time}}
                </div>
                <div style="color: rgb(147, 147, 150);font-size: 14px;">
                    {{i.name}}
                </div>
            </div>
        </div>
    </template>
    <!-- no2图片 -->
    <template id="tea">
        <div>
            <div style="width: 95%;margin: 0 auto;">
                <div style="width: 100%;">
                    <div v-for="i in tea_arr" style="width: 33%;float: left;">
                        <div>
                            <img :src="i.url" alt="" style="width:355px;height: 235px;margin-bottom: 15px;">
                        </div>
                        <div style="width:355px;text-align: left;color: #808080;line-height: 20px;">
                            <h3 style="font-size: 18px;text-align: center;margin-bottom: 15px;">{{i.title}}</h3>
                            <p style="font-size: 14px;">{{i.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <!-- no3茶数据 -->
    <template id="no3_1">
        <div>
            <div style="overflow: hidden;">
                <div style="width:100%;height:85px;background-color: rgba(244,244,244,0.5);margin-bottom:35px">
                    <div
                        style="float: left;line-height:85px;font-family:微软雅黑;font-size:24px;font-weight:normal;font-style:normal;color:#333333;display:block;width: 48%;padding-left: 2%;">
                        茶叶</div>
                    <div style="float: left;width: 50%;">
                        <div style="cursor:pointer;line-height:15px;display: block;overflow:hidden;width:60px;font-family:微软雅黑; font-size:15px; color:#878787;float: left;line-height:85px;text-align:center;margin-right: 25px;"
                            v-for="i in tea_name" :class="type==i?'active':''" @click="type=i">
                            {{i}}
                        </div>
                    </div>
                </div>
                <div v-if="type=='全部'" style="width:100%">
                    <div style="width: 95%;margin: 0 auto;">
                        <div style="width: 100%;">
                            <div v-for="i in tea_arr" style="float: left;width: 20%;">
                                <div>
                                    <img :src="i.url" style="width: 210px;height: 210px;margin-left: 15px;">
                                </div>
                                <div style="margin-left: 15px; ">
                                    <p
                                        style="padding-bottom:15px;font-weight:normal;color:#555555;line-height:16px; vertical-align: top; text-align:left;width:100%;">
                                        {{i.name}}</p>
                                    <p style="color: #8e8e8e;font-size: 16px;">{{i.price}}</p>
                                    <div
                                        style="color:#d1d1d1;font-size:13px;font-family:微软雅黑;padding-top:5px;padding-bottom:5px;padding-left:8px;padding-right:8px;">
                                        —></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else style="width:100%">
                    <div style="width: 95%;margin: 0 auto;">
                        <div style="width: 100%;">
                            <div v-for="i in tea_arr" style="float: left;width: 20%;" v-if="i.type==type">
                                <div>
                                    <img :src="i.url" style="width: 210px;height: 210px;margin-left: 15px;">
                                </div>
                                <div style="margin-left: 15px; ">
                                    <p
                                        style="padding-bottom:15px;font-weight:normal;color:#555555;line-height:16px; vertical-align: top; text-align:left;width:100%;">
                                        {{i.name}}</p>
                                    <p style="color: #8e8e8e;font-size: 16px;">{{i.price}}</p>
                                    <div
                                        style="color:#d1d1d1;font-size:13px;font-family:微软雅黑;padding-top:5px;padding-bottom:5px;padding-left:8px;padding-right:8px;">
                                        —></div>
                                </div>
                            </div>
                        </div>



                        <!-- <div>
                            <div v-for="i in tea_arr" v-if="i.type==type">
                                <div class="div1">
                                    <img :src="i.url">
                                </div>
                                <div>
                                    <p>{{i.name}}</p>
                                    <p>{{i.price}}</p>
                                    <div>——></div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
    </template>
    <!-- no4图片 -->
    <template id="no4_1">
        <div>
            <div style="width: 100%;">
                <div v-for="i in arr" style="width: 25%;float: left;">
                    <img :src="i" alt="" style="width: 275px;height: 275px;margin-top: 10px;">
                </div>
            </div>
        </div>
    </template>
    <!-- no6图片 -->
    <template id="no6_1">
        <div style="width: 100%;height: 161px;">
            <div style="width: 95%;margin: 0 auto;">
                <div style="width: 33%;float: left;border-right: 1px silver solid;" v-for="i in arr">
                    <div>
                        <img :src="i.url" alt="" style="width: 80px;height: 80px;margin-left: 155px;">
                    </div>
                    <div style="text-align: center;">
                        <h3
                            style="font-family:微软雅黑;font-size:20px;font-weight:normal;font-style:normal;color:#333333;display:block;vertical-align:bottom;">
                            {{i.title}}</h3>
                        <p style="font-size: 14px;">{{i.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <!-- no6地图 -->
    <template id="no6_2">
        <div style="width: 100%;">
            <div id="allmap" style="width:92%;height: 400px;margin:0 auto;margin-bottom: 20px;">

            </div>
        </div>
    </template>
    <!-- 二级路由one -->
    <template id="one_1">
        <div>
            <div style="width:100%;margin-bottom: 40px;" v-for="i in one_arr">
                <div style="float:left;width:70%;">
                    <p
                        style="margin-bottom:20px;color:#000000;font-size:18px;font-family:微软雅黑;line-height:18px;margin-top: 20px;">
                        {{i.title}}</p>
                    <p style="color:#999999;font-size:13px;font-family:微软雅黑;line-height:22px;padding-right:20px;">
                        {{i.content}}</p>
                    <p style=" color:#90af6b;font-size:14px;font-family:微软雅黑;margin-top: 30px;">
                        阅读正文 →
                    </p>
                </div>
                <div style="float:left;overflow: hidden;width: 30%;">
                    <img :src="i.url" style="width:200px;height:130px;margin-left: 20px;margin-top: 10px;">
                </div>
            </div>
        </div>
    </template>
    <!-- 二级路由two -->
    <template id="two_1">
        <div>
            <div style="width:100%;" v-for="i in two_arr">
                <div style="float:left;width:70%;">
                    <p
                        style="margin-bottom:20px;color:#000000;font-size:18px;font-family:微软雅黑;line-height:18px;margin-top: 20px;">
                        {{i.title}}</p>
                    <p style="color:#999999;font-size:13px;font-family:微软雅黑;line-height:22px;padding-right:20px;">
                        {{i.content}}</p>
                    <p style=" color:#90af6b;font-size:14px;font-family:微软雅黑;margin-top: 30px;">
                        阅读正文 →
                    </p>
                </div>
                <div style="float:left;overflow: hidden;width: 30%;">
                    <img :src="i.url" style="width:200px;height:130px;margin-left: 20px;margin-top: 10px;">
                </div>
            </div>
        </div>
    </template>
    <!-- 二级路由three -->
    <template id="three_1">
        <div>
            <div style="width:100%;" v-for="i in three_arr">
                <div style="float:left;width:70%;">
                    <p
                        style="margin-bottom:20px;color:#000000;font-size:18px;font-family:微软雅黑;line-height:18px;margin-top: 20px;">
                        {{i.title}}</p>
                    <p style="color:#999999;font-size:13px;font-family:微软雅黑;line-height:22px;padding-right:20px;">
                        {{i.content}}</p>
                    <p style=" color:#90af6b;font-size:14px;font-family:微软雅黑;margin-top: 30px;">
                        阅读正文 →
                    </p>
                </div>
                <div style="float:left;overflow: hidden;width: 30%;">
                    <img :src="i.url" style="width:200px;height:130px;margin-left: 20px;margin-top: 10px;">
                </div>
            </div>
        </div>
    </template>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://api.map.baidu.com/api?v=3.0&ak=ZVxQBFByXwIR6q06AXIHvxOeIRKMkO1F"></script>
<script>
    // 二级路由three
    Vue.component('three_1', {
        template: '#three_1',
        data() {
            return {
                three_arr: [
                    {
                        title: '喝什么茶叶好?春天适合喝什么茶?喝白茶喝什么茶叶好?',
                        content: '2017年10月27日，世界卫生组织国际癌症研究机构公布的致癌物清单初步整理参考，茶在3类致癌物清单中。属于对人类致癌性可疑，尚无充分的人体或动物数据的物质类。',
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNzQwMmZhZTFiYWE3OTgxODA4MWYwM2I2N2UwZTU0ZDItMjAweDEzMC5qcGc_p_p100_p_3D.jpg',

                        type: '产品新闻'
                    },
                    {
                        title: '喝什么茶好?如何正确喝茶?',
                        content: '中国饮茶起源众说纷纭：追溯中国人饮茶的起源，有的认为起于上古，有的认为起于周，起于秦汉、三国、南北朝、唐代的说法也都有，造成众说纷纭的主要原因是因唐代以前无“茶”字，而只有“荼”字的记载，直到茶经的作...',
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNGRmMDFhNzRmYTBhZWFiODIyYmM1MThhY2M2ZWFhOTYtMjAweDEzMC5qcGc_p_p100_p_3D.jpg',

                        type: '产品新闻'
                    },
                ]
            }
        }
    })
    // 二级路由two
    Vue.component('two_1', {
        template: '#two_1',
        data() {
            return {
                two_arr: [
                    {
                        title: '2019茶叶展-第十六届上海国际茶业交易春季博览会',
                        content: '野生种遍见于中国长江以南各省的山区，为小乔木状，叶片较大，常超过10厘米长，长期以来，经广泛栽培，毛被及叶型变化很大。茶叶可作饮品，含有多种有益成分，并有保健功效。',
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNWQ3ZTc0ZDI3NTEzM2MxZmZkYTVkZTFmY2FiNGFkZTctMjAweDEzMC5qcGc_p_p100_p_3D.jpg',

                        type: '新茶动态'
                    },
                    {
                        title: '喝茶也会有危险——茶这样喝真的很危险',
                        content: '但是也有人能够找到证据指出，饮茶的习惯不仅仅是中国人发明的，在世界上的其他一些地方也是饮茶的发明地，例如印度、非洲等。1823年，一个英国侵略军的少校在印度发现了野生的大茶树，从而有人开始认定茶的发源...',
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMGQ5YWMxYWEzOWNmZmIzYzk4NDE0Njk4YzZmZGQwZjQtMjAweDEzMC5qcGc_p_p100_p_3D.jpg',

                        type: '新茶动态'
                    },
                    {
                        title: '喝茶养生好处多 但是喝错茶竟会致丧命',
                        content: '唐．陆羽《茶经》：“茶之为饮，发乎神农氏。”，在中国的文化发展史上，往往是把一切与农业、与植物相关的事物起源最终都归结于神农氏。而中国饮茶起源于神农的说法也因民间传说而衍生出不同的观点。有人认为茶是神...',
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYjc0NWU4ZGE0NTU0ODIyYWJjMjNhMmE1NGQ2NDJkM2EtMjAweDEzMC5qcGc_p_p100_p_3D.jpg',

                        type: '新茶动态'
                    },
                    {
                        title: '服用“阿司匹林”尽量少喝茶',
                        content: '晋．常璩《华阳国志．巴志》：“周武王伐纣，实得巴蜀之师，......茶蜜......皆纳贡之。”这一记载表明在周朝的武王伐纣时，巴国就已经以茶与其它珍贵产品纳贡与周武王了。《华阳国志》中还记载，那时并...',
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMmZlZDQ0NjA2NDI0N2FmZWI4YTk0ZmQ0NGRiMDc5NzktMjAweDEzMC5qcGc_p_p100_p_3D.jpg',

                        type: '新茶动态'
                    },
                    {
                        title: '碧螺春茶叶喝第几泡才是最好喝的呢?',
                        content: '中国饮茶起于六朝的说法，有人认为起于“孙皓以茶代酒”，有人认为系“王肃茗饮”而始，日本、印度则流传饮茶系起于“达摩禅定”的说法。然而秦汉说具有史料证据确凿可考，因而削弱了六朝说的正确性。',
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMTI1ZmM2NTk4YWE0NmFlY2JkOWY1NDAzYzkwYjM3ODctMjAweDEzMC5qcGc_p_p100_p_3D.jpg',

                        type: '新茶动态'
                    },
                    {
                        title: '饮用碧螺春茶的几个注意事项',
                        content: '市卫计委表示，今年，北京将按照市委十六次全会部署的原则，启动医疗服务价格改革。据悉，改革的总体原则将是“...',
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNDVhMmJlZTE1ZjE5MTc0OTQ2OTIxMTBiMjNkYWRiZDUtMjAweDEzMC5qcGc_p_p100_p_3D.jpg',

                        type: '新茶动态'
                    },
                ]
            }
        }
    })
    // 二级路由one
    Vue.component('one_1', {
        template: '#one_1',
        data() {
            return {
                one_arr: [
                    {
                        title: '喝茶的好处有哪些 6大好处告诉你',
                        content: '中国历史上有很长的饮茶纪录，已经无法确切地查明到底是在什么年代了，但是大致的时代是有说法的。并且也可以找到证据显示，确实在世界上的很多地方饮茶的习惯是从中国传过去的。所以，很多人认为饮茶就是中国人首创...',
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNjczNTEyZGI2NGM2N2U0MzdjMjMxNGMyYzc3MjRmM2YtMjAweDEzMC5qcGc_p_p100_p_3D.jpg',

                        type: '全部新闻'
                    },
                ]
            }
        }
    })
    // no6地图
    Vue.component('no6_2', {
        template: '#no6_2',
        mounted() {
            var map = new BMap.Map("allmap");
            // var point = new BMap.Point(116.331398, 39.897445);北京的经纬度
            map.addControl(new BMap.NavigationControl());
            map.addControl(new BMap.ScaleControl());
            map.addControl(new BMap.OverviewMapControl());
            map.addControl(new BMap.MapTypeControl());
            map.centerAndZoom('苏州市外河桥', 11);
        }
    })
    // no6图片
    Vue.component('no6_1', {
        template: '#no6_1',
        data() {
            return {
                arr: [
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvZmM3ZjZkOTc4MzNjYjk5ZDliY2Y1NWQzMmNjNjFiNDYtODB4ODAuanBn.jpg',
                        title: '邮箱',
                        content: 'info@email.com'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvZDY4ZDFlYWFjZjgyMmQxOGQxOTI2M2M3ZTE5Y2Y3NWEtODB4ODAuanBn.jpg',
                        title: '手机',
                        content: '13725415481/010 6888 6888'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNmZkOTQ2MGI2MzM1ZjUzNmY1MzY0NTFiYmJhMjA5ZGQtODB4ODAuanBn.jpg',
                        title: '地址',
                        content: '苏州市建外SOHO东区2号楼'
                    },
                ]
            }
        }
    })
    // no4图片
    Vue.component('no4_1', {
        template: '#no4_1',
        data() {
            return {
                arr: [
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNWQ3ZTc0ZDI3NTEzM2MxZmZkYTVkZTFmY2FiNGFkZTctMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNzQwMmZhZTFiYWE3OTgxODA4MWYwM2I2N2UwZTU0ZDItMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOWVlYzA0NGVmYmNiZGQwYzE0M2QwYmZhMGY2MjNkMDUtMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMGQ5YWMxYWEzOWNmZmIzYzk4NDE0Njk4YzZmZGQwZjQtMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOWVkYTg5ZjIzMWEzOGFjODE5NmJiYmYyOTA5YWEyZjctMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMTI1ZmM2NTk4YWE0NmFlY2JkOWY1NDAzYzkwYjM3ODctMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNGRmMDFhNzRmYTBhZWFiODIyYmM1MThhY2M2ZWFhOTYtMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMmZlZDQ0NjA2NDI0N2FmZWI4YTk0ZmQ0NGRiMDc5NzktMzAweDMwMC5qcGc_p_p100_p_3D.jpg'
                ]
            }
        }
    })
    // no3茶数据
    Vue.component('no3_1', {
        template: '#no3_1',
        data() {
            return {
                type: '全部',
                tea_name: ['全部', '黄茶', '乌龙茶', '红茶', '黑茶', '白茶', '花茶'],
                tea_arr: [
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvODMxNGZmNmYyYjkyNzcxZmY2N2U5NjdlZjQyNjAzZWItNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '茉莉花茶',
                        price: '￥223.0',
                        type: '花茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMGFkMzdiZDQwOGNjYWMwYzI0Y2JmNzdiMDZiNDg4ODAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '白牡丹',
                        price: '￥1235.0',
                        type: '白茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvOTc4NTUwMDZjYzA1MDQ1OGVkMDFmZjE2N2I4YjNkOTctNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '白毫银针',
                        price: '￥258.0',
                        type: '白茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMDMzMjg2Zjc0ZWU4M2ZiM2U5MTllZTgwMDc4MjRjNTAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '云南普洱茶',
                        price: '￥500.0',
                        type: '黑茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjY1ZjU4NWU5ZmNmYjkxMDBlMzc1YmFkMDQyNTkwMzEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '湖北老青茶',
                        price: '￥400.0',
                        type: '黑茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjhlYTFmMDQ0Y2NhOWI4NWEzYWZkMzExYzczZTY3MjQtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '霍山黄芽蒙洱银针',
                        price: '￥711.0',
                        type: '黄茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNWM4NmNiNjkzOTdjOTM4NWQ4MzI0MDdlZDhhY2EwMmUtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '蒙顶黄芽',
                        price: '￥450.0',
                        type: '黄茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNWNjYjNmZjU3YWU2YjBmMmRiYWZmOTk2MzljY2E4N2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '冻顶乌龙茶',
                        price: '￥620.0',
                        type: '乌龙茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNDM1OTBkNjFjM2ViOGU2YzUyYWU3ZmM2N2I3YjQwZGMtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '大红袍',
                        price: '￥3480.0',
                        type: '乌龙茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYzNjYmVkZWE4N2JmNzZjOTUyODdjZWUyYWQ4MjgyM2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '祁门红茶',
                        price: '￥468.0',
                        type: '红茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjc0Y2E2YTE1Nzc3Mjk4MTFhMDJiOTg0Y2ZlMzliY2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '正山小种',
                        price: '￥952.0',
                        type: '红茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYTY5N2NjZmUxNzIwNTg1YjcwM2E2OTk2ZWY3N2U4NmEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '西湖龙井特级',
                        price: '￥888.0',
                        type: '绿茶'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYWNkYWZkYWVmNGVlM2NiNmJlYTFjNWI5MWE2MzQwOGMtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '洞庭碧螺春',
                        price: '￥880.0',
                        type: '绿茶'
                    }
                ]
            }
        }
    })
    // no2图片 
    Vue.component('tea', {
        template: '#tea',
        data() {
            return {
                tea_arr: [
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNjczNTEyZGI2NGM2N2U0MzdjMjMxNGMyYzc3MjRmM2YuanBn.jpg',
                        title: '茶园规划',
                        content: '明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致。'
                    }, {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNGRmMDFhNzRmYTBhZWFiODIyYmM1MThhY2M2ZWFhOTYuanBn.jpg',
                        title: '茶叶品质鉴别',
                        content: '明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致。'
                    }, {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNDVhMmJlZTE1ZjE5MTc0OTQ2OTIxMTBiMjNkYWRiZDUuanBn.jpg',
                        title: '冲泡工艺',
                        content: '明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致。'
                    }
                ]
            }
        }
    })
    // no2数字
    Vue.component('count', {
        template: '#count',
        data() {
            return {
                // count_arr:this.change_arr,
                count_arr: [
                    { time: '138', name: '历史悠久' },
                    { time: '423', name: '冲泡温度' },
                    { time: '89', name: '碧螺春等级' },
                    { time: '567', name: '茶园面积' },
                ]
            }
        }
    })
    // 新品上市
    Vue.component('new', {
        template: '#new',
        data() {
            return {
                new_arr: [
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvODMxNGZmNmYyYjkyNzcxZmY2N2U5NjdlZjQyNjAzZWItNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '茉莉花茶',
                        price: '¥223.0'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMGFkMzdiZDQwOGNjYWMwYzI0Y2JmNzdiMDZiNDg4ODAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '白牡丹',
                        price: '¥1235.0'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvOTc4NTUwMDZjYzA1MDQ1OGVkMDFmZjE2N2I4YjNkOTctNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '白毫银针',
                        price: '¥258.0'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMDMzMjg2Zjc0ZWU4M2ZiM2U5MTllZTgwMDc4MjRjNTAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '云南普洱茶',
                        price: '¥500.0'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjY1ZjU4NWU5ZmNmYjkxMDBlMzc1YmFkMDQyNTkwMzEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '湖南老青茶',
                        price: '¥400.0'
                    },
                    {
                        url: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjhlYTFmMDQ0Y2NhOWI4NWEzYWZkMzExYzczZTY3MjQtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                        name: '霍山黄芽蒙洱银针',
                        price: '¥711.0'
                    },
                ]
            }
        }
    })
    // 底部图片
    Vue.component('logo', {
        template: '#logo',
        data() {
            return {
                logo_arr: [
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjMwZTdjYTlmNmIwNjRhYjM2NzIzZGZiYTViMzU2MjQtMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYzU0OGUxMmQwM2FhMTE4MmE1ZmM5YWY4YjBlZDNhODMtMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvZmE3YjM1YzA3Mzg5Mjg4ODVjOTY3NDRjYTNkZjAzNDQtMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMTdlYWNiYTc0ZmU4MDZkMTk1NGI5MWY0MTdhMzUzZDgtMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMDFjMDE4YjAwYzA0MWMwYmQ3MTIzYTkzZjVhMTkyOTgtMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMWQyNGZhYmI0ZWRiODk1MGUxMmI3MzkxOGU3OTY1ZDktMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png'
                ]

            }
        }
    })
    // 轮播图    
    Vue.component('loop', {
        template: '#loop',
        data() {
            return {
                arr: [
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNTkxNjY4MzYwNTc4MTlhMDVjNGZmNmQ5NWFjMzU0OGIuanBn.jpg',
                    'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNjFhNzJlOWFhNThhNzVhZjY0ZGFlMjgzYTAzMDQ1NDAuanBn.jpg'
                ],

            }
        }
    })
    // 路由
    var router = new VueRouter({
        routes: [
            { path: '/', component: { template: '#no1' }, },
            { path: '/no2', component: { template: '#no2' }, },
            { path: '/no3', component: { template: '#no3' }, },
            { path: '/no4', component: { template: '#no4' }, },
            {
                path: '/no5', component: { template: '#no5' },
                children: [
                    { path: '/', component: { template: '#one' } },
                    { path: 'no2', component: { template: '#two' } },
                    { path: 'no3', component: { template: '#three' } },
                ],
            },
            { path: '/no6', component: { template: '#no6' }, }
        ]
    })
    new Vue({
        el: '#box',
        data: {
            nav_arr: [
                { name: '首页', path: '#/' },
                { name: '关于', path: '#/no2' },
                { name: '茶叶', path: '#/no3' },
                { name: '基地', path: '#/no4' },
                { name: '新闻', path: '#/no5' },
                { name: '联系', path: '#/no6' },
            ],

        },
        router,
    })
</script>

</html>